<div class="containar">
  <div class="row col-8 mx-auto">
    <div class="col-8 offset-2 mx-auto">
      <%= image_tag 'img/About.jpg', size: '600x420' %>
      <p class="text-center my-5">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>
  </div>
</div>