 <div class="containar">
  <div class="row col-8 mx-auto">
    <div class="col-8 offset-2 mx-auto">
      <%= image_tag 'img/top.jpg', size: '600x420' %>
      <p class="text-center my-5">
       ようこそ、ながのCAKEへ！<br>
  				 このサイトは、ケーキ販売のECサイトになります。<br>
  				 会員でない方も商品の閲覧はできますが、<br>
  				 購入には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
</div>

